@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts  */

/* BeVietnam Pro */
@font-face {
  font-family: BeVietnamPro;
  font-weight: 300;
  src: local('BeVietnamPro'),
    url('fonts/BeVietnamPro-Light.ttf') format('opentype');
}

@font-face {
  font-family: BeVietnamPro;
  font-weight: 400;
  src: local('BeVietnamPro'),
    url('fonts/BeVietnamPro-Regular.ttf') format('opentype');
}

/* Styles */

body {
  background-attachment: fixed;
  background-image: url('/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  font-family: BeVietnamPro;
  margin: 0;
  min-height: 100vh;
  place-items: center;
  width: 100%;
}

.main {
  background-color: #343964;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.question-btn,
.question-btn-active {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  transition: background 300ms linear;
}

.question-btn {
  background: #393f6f;
}
.question-btn-active {
  background: linear-gradient(#e65895, #bc6be8);
}
